html,body {
  /* background: #039BE5;  */
  font-family: 'Fjalla One','Noto Sans', sans-serif;
  padding:0;
  /* overflow:auto;  */
  height:auto;
}

h1,h2,h3,h4,h5,h6{font-family: 'Fjalla One';}
p{font-family: 'Noto Sans';}

#load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }

#GCPIcon {
  /* width: 25%; */
  height: 35%;
  display: block;
  margin: auto;
}

#intro{
  background-color: #039BE5;
  height:100vh;
  min-height:100%;
}


#footer{
  /* color: rgba(0,0,0,0.4);  */
  background-color: #039BE5;
  text-align: center; font-size: 13px;
}

#footerLink{
  display:block;
  text-align:center;
}

#footerLink p {
  display:inline-block;
  text-align:center;
  padding-right:5px;
  /*margin;*/
}

#footerLink a {
  color:rgba(0,0,0,0.4);
}

#footerLink a svg {
  vertical-align:middle;
}

.main{
  background-color:#ECEFF1;
  height:100vh;
  min-height:100%;
  overflow:auto;
  margin-top:2.5%;
}



/* #submitProject{
  width: 15%;
  height: 15%;
} */

/*Github and Powerpoint Row:*/
.links{
  text-align:center;
}

.links ul li {
  /*Creates Horizontal List:*/
  display: inline-block;
  zoom:1;
  *display:inline;
  /*Provides proper spacing for each item.*/
  margin: 0 2.5% 0 2.5%;
  text-align:center;

}

.links ul li a{
  /*Changes color of icon:*/
  color:#ECEFF1;
}

/*.links ul li a svg{*/
  /*!*Changes size of icon:*!*/
  /*width:35%;*/
  /*height:35%;*/
/*}*/

#githubFeather {
  width:45%;
  height:45%;
}

#ppFeather {
  /*Changes size of icon:*/
  width:35%;
  height:35%;
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */

  /*Social Media Column:*/
  .links ul li {
    /*Creates Horizontal List:*/
    display: inline-block;
    zoom:1;
    *display:inline;
    /*Provides proper spacing for each item.*/
    margin: 0 5% 0 5%;

  }

  #githubFeather {
    width:45%;
    height:45%;
  }

  #ppFeather {
    /*Changes size of icon:*/
    width:35%;
    height:35%;
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  /*Social Media Column:*/
  .links ul li {
    /*Creates Horizontal List:*/
    display: inline-block;
    zoom:1;
    *display:inline;
    /*Provides proper spacing for each item.*/
    margin: 0 5% 0 5%;

  }

  #projectFeather{
    width:20%;
    height:20%;
  }
  #githubFeather {
    width:45%;
    height:45%;
  }

  #ppFeather {
    /*Changes size of icon:*/
    width:35%;
    height:35%;
  }
}

@media screen and (max-width: 479px){
  /* start of phone styles */
  /*Social Media Column:*/
  .links ul li{
    /*Creates Horizontal List:*/
    display:inline-block;
    zoom:1;
    *display:inline;
    /*Provides proper spacing for each item.*/
    margin:0 5% 0 5%;

  }

  .links ul li a{
    /*Changes color of icon:*/
    color:#039BE5;
  }

  #githubFeather {
    width:30%;
    height:30%;
  }

  #ppFeather {
    /*Changes size of icon:*/
    width:20%;
    height:20%;
  }
}
